@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* ------- distances ------- */
    --distance-xxxx-small: 0.2rem;
    --distance-xxx-small: 0.3rem;
    --distance-xx-small: 0.4rem;
    --distance-x-small: 0.5rem;
    --distance-small: 1rem;
    --distance-medium: 1.5rem;
    --distance-large: 2rem;
    --distance-x-large: 4rem;

    --menu-image-desk-height: 12rem;
    --menu-article-flex-size: 30rem;

    --contact-persons-input-width: 5rem;
    --contact-date-input-width: 12rem;
    --contact-label-desk-width: 10rem;
    --contact-image-tablet-height: 20rem;


    --border-radius-small: 0.2rem;
    --border-radius: 0.4rem;

    /* ------- colors ------- */
    --primary-blue: #27354A;
    --secondary-yellow: #FAFAD2;
    --tertiary-color: #D3D3D3;
    --accent-red: #EA5047;
    --off-white:#FFFAF0;
    --black: black;
    --white: white;
    --nav-active-yellow: #EBCE9A;

    /* ------- fonts ------- */
    --primary-font: "Poppins", sans-serif;
    --primary-normal-weight: 300;
    --primary-bold-weight: 400;
    --primary-x-bold-weight: 600;
    --primary-font-size-mobile: 0.9em;
    --primary-font-size: 1em;
    --primary-font-size-small: 0.7rem;

    --display-font: "Roboto", sans-serif;
    --display-weight: 400;
    --h1-font-size: 2em;

    --header-font-size: 1em;

    --nav-active-font-size: 1.1em;
    --nav-active-weight: 600;

    --footer-font-size-mobile: 0.9em;
    --footer-font-size: 1em;
};